body {
    width: 270px;
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(122, 122, 122, 0.3);
    margin: 0.6em 0;
}

h1 {
    text-align: center;
    font-weight: 400;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.power-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.turn-off:hover {
    color: #37474f;
}

.turn-on:hover {
    color:#01579b;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-item:hover {
    background-color: rgb(247, 247, 247);
}

.menu-text {
    font-size: 17px;
    color: black !important;
    width: 50px;
    margin-left: 20px;
    cursor: default;
}

.menu-switch {
    width: 100px;
    margin-right: -25px;
}

.menu-shortcut {
    width: 100px;
    font-size: 13px;
    text-align: right;
    margin-right: 27px;
}

.menu-icon {
    margin-right: 18px;
    color: grey;
}

.menu-button {
    margin-left: 18px;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer !important;
}

